.cont_card{
    position: relative;
    left: 200px;
    display: flex;
    flex-direction: row;
    width: 70%;
}

.conteneur{
    margin: 0px 190px 50px 190px;
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.conteneur .titre{
    display: flex;
}

.conteneur .titre h2{
    margin: 10px 20px;
}
.add{
    height: 50px;
    width: 170px;
    border-radius: 0px;
}

button{
    height: 5px;
    width: 5px;
    border-radius: 50px;
    border-style: none;
}